store-dir=pnpm-store
enable-pre-post-scripts=true
auto-install-peers=false
shamefully-hoist=true
resolve-peers-from-workspace-root=false
dedupe-peer-dependents=true
network-timeout=600000
strict-peer-dependencies=false