.select-popover {
  max-height: min(var(--radix-select-content-available-height), 336px);
}

.select-item {
  position: relative;
  display: flex;
  cursor: default;
  scroll-margin-top: 0.25rem;
  scroll-margin-bottom: 0.25rem;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.5rem 1.75rem;
  color: hsl(204 10% 10%);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.select-item[data-active-item] {
  background-color: #06b6d4;
}

@media (min-width: 640px) {
  .select-item {
    font-size: 15px;
  }
}
